.ui {
    &__section {
        margin-bottom: 60px;
        &__title {
            margin-bottom: 10px;
        }
        &__row {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
        }
    }
}
