@import '~styles/variables';

.footer {
  padding: 20px 0;
  color: var(--color-primary);
  background-color: var(--background-secondary);
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: $break-480) {
  .footer {
    padding: 15px 0;
  }
}
