@import '~styles/variables';
.suggestion-list-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1.25em;
  padding: 0.5em 0.5em;
  font-size: 1rem;
  border-radius: 3px;
  color: var(--color-primary);
  border: 1px solid var(--color-secondary);
  &:last-child {
    margin-bottom: 0;
  }
  &__btn-add {
    margin-right: 10px;
  }
  &__title {
    flex-grow: 1;
    margin-right: 10px;
    padding: 0.25em 0;
    color: inherit;
    font-size: inherit;
    text-overflow: ellipsis;
    border: 0;
    background: inherit;
    overflow: hidden;
  }
}
