@import '~styles/variables';
@import '~styles/mixins';
.suggestion-list__item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 7px;
    padding: 5px;
    font-size: 0.9rem;
    border-radius: 3px;
    @include themify($themes) {
        color: themed('color-primary');
        background-color: themed('background-secondary');
    }
    &-add {
        margin-right: 10px;
    }
    &-title {
        flex-grow: 1;
        margin-right: 10px;
        padding: 0.25em 0;
        color: inherit;
        font-size: inherit;
        text-overflow: ellipsis;
        border: 0;
        background: inherit;
        overflow: hidden;
    }
}
