@import '~styles/variables';
@import '~styles/mixins';
.header {
  padding: 20px 0;
  @include themify($themes) {
    color: themed('color-primary');
    background-color: themed('background-secondary');
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    padding-left: 40px;
    text-decoration: none;
    background-image: url('~logo.svg');
    background-repeat: no-repeat;
    background-position: left 48%;
    background-size: 32px;
    @include themify($themes) {
      color: themed('color-accent');
    }
  }
  &__title {
    font: bold 2rem $font-secondary;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    width: 150px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: $break-480) {
  .header__logo {
    background: none;
    padding-left: 0;
  }
}
