@import '~styles/variables';

.language-selector {
  font-weight: bold;
  cursor: pointer;
  appearance: none;
  text-transform: uppercase;
  & option {
    background: var(--background-secondary);
  }
}
