@import '~styles/variables';
.suggestion-list {
  width: 400px;
  max-height: 70vh;
  padding-right: 10px;
  overflow-y: auto;
}

@media screen and (max-width: $break-480) {
  .suggestion-list {
    width: 100%;
    max-height: calc(100vh - 96px);
  }
}
