@import '~styles/variables';
.suggestion-list {
  &__list {
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 10px;
  }
}
@media screen and (max-width: $break-640) {
  .suggestion-list {
    width: 100%;
  }
}
