.shopping-list-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 20px;
  &__input {
    flex-grow: 1;
    margin-right: 0.5rem;
  }
  &__btn {
    font-size: 2rem;
  }
}
